// ****************
// Color Variables
// ****************
$darkViolet: hsl(256, 26%, 20%);
$grayishBlue: hsl(216, 30%, 68%);
$veryDarkViolet: hsl(270, 9%, 17%);
$darkGrayishViolet: hsl(273, 4%, 51%);
$veryLightGray: hsl(0, 0%, 98%); 
$wrapperSpace: 1.5em;

$browser-context: 16; // Default

// ****************
// BREAKPOINTS
// ****************
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 375px;


