.hero {        
    text-align: center;
    display: none;

    &__image {         
        height: 450px;      
        background: url("./../assets/images/image-intro-mobile.jpg");
        background-size: cover;
        margin-left: -$wrapperSpace;
        margin-right: -$wrapperSpace;
    }

    &__description {
        position: relative;
        height: 500px;        
        width: calc(100% + 3em);                
        padding: 5.5em $wrapperSpace 4em $wrapperSpace;
        background: $darkViolet;
        margin-left: -$wrapperSpace;
    }
    
    &__line-1 {        
        position: absolute;
        width: 167px;
        height: 165px;
        top: 0;        
        left: 0;
        background: url("./../assets/images/bg-pattern-intro-left-mobile.svg");        
        z-index: 0;
    }

    &__title {        
        margin: 0;
        padding-bottom: .3em;
        color: $veryLightGray;
        font-size: 2.8em;         
        z-index: 40;

        &--color {
            color: #000;
            font-size: 3em;
            font-weight: normal;
        }
    }

    &__parrafo {
        color: $veryLightGray;
        line-height: 1.7em;
        padding-bottom: 2.5em;
    }
}

.we-are {
    text-align: center;
    border: 1px solid red;

    &__grid {
        display: grid;
        grid-row-gap: 4em;
    }

    &__item {
        border: 1px solid blue;
    }

    &__title {
        font-size: 1.8em;
        font-weight: normal;
    }

    &__parrafo {
        color: $darkGrayishViolet;
    }
}