*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Karla-Regular';  
}

h1,h2,h3 {
  font-family: 'DMSerifDisplay-Regular';
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// ul,
// ol {
//   margin: 0;
//   padding: 0;
// }
